/* General */
body {
  font-family: "Open-sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/* Navbar Section */
.navbar-logo {
  width: 15rem;
  height: auto;
}

@media (max-width: 400px) {
  .navbar-logo {
    width: 10rem;
  }
}

/* Hero Section */
#hero-image {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  width: 100em;
}

@keyframes up-down {
  0% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(-12px);
  }
}

@media (max-width: 992px) {
  #hero-image {
    width: 30rem;
  }
}

@media (max-width: 576px) {
  #hero-image {
    width: 20rem;
  }
}

.hero-bg {
  background-color: #36517e;
}

/* About */
#heading-color {
  color: #36517e;
}

/* Key Features */
.key-box {
  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  width: 25rem;
  height: 17rem;
}

.key-section {
  background-color: #ebeef2;
}

.key-icons {
  color: #36517e;
}

/* App Carousel */
.app-carousel {
  display: flex;
  overflow: hidden;
}

.app-gallery {
  display: flex;
  animation: scroll 25s linear infinite;
}

.app-gallery:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 6.38));
  }
}

.app-icons {
  width: 15%;
  padding: 3rem;
}

.app-icons:hover {
  transform: scale(1.05, 1.05);
}

/* Benefits */
.benefits {
  background-color: #EBEEF2;
}

.benefits-img {
  width: 80%;
}

.benefits-content {
  width: 50%;
  padding-top: 10rem;
}

.benefits-joomla {
  width: 60%;
}